<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

<style>
  .ju{
    background-color:green;
    color:white;
  }
  .display-4{
    text-align:center;
  }
</style>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <a class="navbar-brand" href="#">TDSI2018</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('examen_blog_layaout') }}">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"href="{{path('examen_blog_articlespage')}}">Creer Article <span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{{path('examen_blog_accountpage')}}">Contact <span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="{{ path('examen_blog_articlepubliepage') }}">Articles Publiés <span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link"  href="{{path('examen_blog_mesarticlepage') }}">Mes Articles<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ path('examen_blog_articlespage') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('examen_blog_politique')}}">Politique</a>
          <a class="dropdown-item" href="#">Developpement</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reseau</a>
          <a class="dropdown-item" href="#">Necrologie</a>
        </div>
      </li>
      <li class="nav-item active ">
        <a class="nav-link disabled" href="#">logOut<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a  href="{{ path('examen_blog_login') }}"></a>connecter</button>
    </form>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid ju">
  <div class="container">
    <h1 class="display-4">Blog TDSI2018</h1>
    <p class="lead">Apprenez a developper vos comptence dans le domaine des reseau programmation et surtout vous pouvez recevoire toute l'actualite international sur ce blog!!.</p>
  </div>
</div>
{% block body %}  {% endblock %} 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

