

{% extends 'base.html.twig' %}
{%  block body %}   
<div>
<h3>{{ articles.titre }}</h3>
  <img src="{{asset('Templates/img/')}}{{articles.image }}"  >

<div>
<p>{{ articles.description }}</p>

<h3> Commenter cette article </h3>
<div class="form-group">
{{ form_start(comment) }}
{{ form_row(comment.author, {'label':'Auteur', 'attr':{'class':'form-control input'}} )}}
{{ form_row(comment.comment, {'label':'Commentaire', 'attr':{'class':'form-control input'}} )}}
</br>
<button type="submit" class="btn btn-success"> Laisser un commentaire </button>
{{ form_end(comment) }}
</div>
</div>
</div>
{% endblock %}




















 